
    body{
        background-color: beige;
    }

    #qrcode{
        margin-top: 1rem;
        margin-left: 10px;
    }
    .materials{
        margin-left: 10px;
        margin-top: 10px;
        
    }
